.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.pulse {
  position: relative;
  height: 90px;
}

.pulse::before {
  content: "";
  position: absolute;
  inset: -12px;
  border-radius: 9999px;
  border: 12px solid rgba(255, 255, 255, 0.6);
  animation: pulse var(--call-ring-duration-s) ease-out infinite;
  animation-delay: 1s;
  opacity: 0;
}

.text {
  color: var(--cpd-color-text-on-solid-primary);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
    transform: scale(0);
    opacity: 1;
  }
  35% {
    transform: scale(1.15);
    opacity: 0.15;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  50.01% {
    transform: scale(0);
  }
  85% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
